<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
</head>
<body>
  <h3>Registration Form</h3>
  Username: <input type="text" name="username" [(ngModel)]="username"><br>
  Password: <input type="text" name="password" [(ngModel)]="password"><br>
  Confirm Password: <input type="text" name="confirmPassword" [(ngModel)]="confirmPassword"><br>
  <input type="radio" id="Male" name="gender" value="Male">
  <label for="Male">Male</label><br>
  <input type="radio" id="Fe-male" name="gender" value="Fe-male">
  <label for="Fe-male">Fe-Male</label><br>
  <label for="cars">Choose a country:</label>

<select name="country" id="country">
  <option value="India">India</option>
  <option value="Rasia">Rasia</option>
  <option value="Sri-lanka">Sri-lanka</option>
  <option value="USA">USA</option>
</select><br>
<input type="submit" value="Register" (click)="register()">
{{msg}}
</body>
</html>